table{
    width: 400px;
    height: auto;
    border-collapse: collapse;
    text-align: center;
}
tr,td{
    height: 40px;
    border: 1px solid red ;
}
#table-header{
    background-color: blue;
    color: white;
}
#btn-delete{
    background-color: #d61b06;
    color: white;
}